body{
    text-align: center;
}
h1{
    margin-bottom: 200px;
    font-size: 50px;
}
.btn{
    height: 180px;
    width: 180px;
    text-align: center;
    font-size: 5rem;
   

   
}
.bimg{
    object-fit: contain;
     display: block;
  width: 100%;
  height: 100%;
  
}